<h1>Quiz One Project</h1>
<br></br>
<br></br>
<button class="btn-primary bpadding">I</button>
<button class="btn-warning bpadding">can</button>
<button class="btn-default bpadding">make</button>
<button class="btn-danger bpadding">an</button>
<button class="btn-success bpadding">app</button>
<br></br>
<br></br>
<br></br>
<h3>(yay)</h3>
