@import "bootstrap";

h1 {
  text-align: center;
  text-color: white;
}

body{
  background-color: black;
}

button {
  display: block;
  margin: auto;
}

h3 {
  text-color: white;
  text-align: center;
}

.bpadding {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 20px;
}